
body {
    font-family: 'Source Sans Pro', sans-serif;   
}

li {
    list-style-type: none;
}



.about-background {
    /* background-image: url(./images/computer-closeup.jpg);
    background-size: 75% 100%;
    background-repeat: no-repeat; */
    background-color: grey;
    
}
.skills-background {
    background-color: lightgrey;
}
 
.card-custom {
    width: 220px;
    
}

.card {
    display: inline-block;
}
/* about page */
#profile-pic {
    height: 250px;
    width: 250px;
  }

  
