
body {
    font-family: 'Source Sans Pro', sans-serif;   
}

li {
    list-style-type: none;
}



.about-background {
    background-color: grey;
}
.skills-background {
    background-color: lightgrey;
}
 


/* about page */
#profile-pic {
    height: 250px;
    width: 250px;
  }

  
